<div class="albums_index">

<div class="actions">
  <%= hidden_field_tag :genre, @genre.name %>
  <%= hidden_field_tag :label, @label.name %>

  <%= select_tag :genre_select, options_for_select(
                                  Genre.all.map(&:name),
                                  selected: @genre.name
                                ) %>

  <%= select_tag :label_select, options_for_select(
                                  Albums::Label.all.map(&:name),
                                  selected: @label.name
                                ) %>
</div>

<% if @albums.empty? -%>
  <div class="message">No albums</div>
<% else -%>
  <table>
    <tbody>
      <% @albums.each do |album| -%>
        <% obj_year = album.obj_year -%>
        <tr>
          <td><%= album.title %></td>
          <td><%= album.artist&.name %></td>
          <td><%= album.artist&.sort_name %></td>
          <td class="year">
            <span class="<%= obj_year.strict? ? '' : 'not_strict' %>">
              <%= obj_year.value %>
            </span>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>

</div>
