<div class="albums_index">

<div class="actions">
  <%= hidden_field_tag :genre, @genre.name %>
  <%= hidden_field_tag :label, @label.name %>

  <%= select_tag :genre_select, options_for_select(
                                  Genre.all.map(&:name),
                                  selected: @genre.name
                                ) %>

  <%= select_tag :label_select, options_for_select(
                                  Albums::Label.all.map(&:name),
                                  selected: @label.name
                                ) %>
</div>

<table>
  <tbody>
    <% @albums.each do |album| -%>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.artist&.name %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

</div>
